---
layout: archive
---

{{ content }}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts Here" }}</h3> -->

<h2 style="font-style:italic;"><span style="font-size:18px;">Hi, Great to have you here in my portfolio. I&#39;m Karthic Natarajan, Senior Product Developer based out of Chennai-India. I&#39;m professionally engaged in building Data Intelligence &amp; Analytics (ML- Practice) cloud-native products wired along with multiple insights service. </span></h2>

<h2 style="font-style:italic;"><span style="font-size:18px;">Also, I delved myself into building Serverless API services and Performing EDA/ETL using python on high volume of&nbsp; data. I enjoy a lot of experimenting Multi-Cloud design flows &amp; cross services. I engage myself a lot in contribution to Open-Source community group.</span></h2>


  {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% for post in posts %}
    {% include archive-single.html type=page.entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
